body{
    background-color: rgb(121, 101, 114);
}
h1{
 color: rgb(23, 12, 59);
}
#clr{
    color: antiquewhite;
}
form{
    background-color: rgb(69, 84, 84);
    max-width: 400px;
    text-align: center;
    display: block;
    align-items: center;
    max-height: 500px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 20px 20px 10px;
}
#textnum{
    border-radius: 10px;
    color: blue;
    text-align: center;
    width: 50px;
    shape-margin: 0cqmax;
}
#sbmt{
    border-radius: 20px;
    color: rgb(248, 255, 255);
    background-color: blue;
    cursor: pointer;
}
label{
    font: 300;
    font-size: x-large;
    
}
button:hover{
    background-color:rgb(46, 46, 174) (); 
}
#result{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 10px 1px 40px;
    color: rgb(46, 8, 16);
}